@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
.d-none {
  display: none;
}

@media (min-width: 768px) {
  .bw-title {
    width: 75%;
  }
  .ts-wrapper {
    figure {
      width: 260px !important;
    }
  }
}

@media (min-width: 992px) {
  .d-md-block {
    display: block;
  }
  .bw-title {
    width: 75%;
  }

  .header-top-bar {
    display: flex !important;
    justify-content: space-between;
  }
  .main-nav {
    background-color: transparent;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;

    .left-menu-section {
      display: flex;
      align-items: center;

      a {
        color: black;
      }
      .hamburger {
        display: none;
      }
    }
    .header-rigth-section {
      padding-right: 40px;
    }
  }
  .fourth-section {
    .slideshow-container {
      width: 800px;
      margin: auto;
      position: relative;
      .testimonial-wrapper {
        max-width: 600px;
        margin: auto;
        p {
          order: 2;
        }
        .testimonial-img {
          order: 3;
        }
      }
    }
  }
  .ts-wrapper {
    figure {
      width: 310px !important;
    }
  }
}

@media (min-width: 1200px) {
  .bw-title {
    width: 50%;
  }
  .ts-wrapper {
    figure {
      width: 350px !important;
    }
  }
}
@media (min-width: 1400px) {
  .ts-wrapper {
    figure {
      width: 400px !important;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sticky + main {
  padding-top: 60px;
}

body {
  background-color: white;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 15px;
  }
}
.center {
  display: grid;
  place-items: center;
  height: 100%;
}
.ta-center {
  text-align: center;
}
.toUpper {
  text-transform: uppercase;
}
.header-top-bar {
  display: none;
  background-color: black;
  a {
    color: #eeeeee;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
.offcanvas {
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  transform: translateX(-100%);
  transition: opacity 0.25s ease, transform 0.25s ease;
  opacity: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: white;

  .close-nav {
    font-size: 2rem;
    padding: 15px 0 0 15px;
    color: #444444;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 2rem;
    flex: 1 0 auto;

    .search-field {
      display: block;
      align-self: center;
      width: 90%;
      input {
        border: none;
        color: #282828;
        border-bottom: 2px solid #282828;
        width: 100%;
        font-size: 1rem;
        margin: auto;
        padding: 0 0 10px 10px;
        outline: none;
      }
    }
    .nav-item {
      padding: 20px 0;

      a {
        color: #282828;
      }
      i {
        font-size: 1rem;
      }
    }

    .login,
    .language {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      font-size: 1rem;
      padding: 20px 0;
    }
    .cart,
    .wishlist {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }
    .social {
      i {
        padding: 20px;
        font-size: 1.3rem;
      }
    }
    select {
      border: none;
    }
  }
}
.offcanvas.show {
  transform: translateX(0);
  opacity: 1;

  .hamburger {
    display: none;
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  .hamburger {
    display: block;

    .bar {
      display: block;
      width: 25px;
      height: 2px;
      margin: 6px 20px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #444444;
    }
  }
  .header-center-section {
    cursor: pointer;
    img {
      height: 24px;
    }
  }
  .header-rigth-section {
    display: flex;

    a {
      color: black;
      margin: 0 15px;
    }
  }
}

a {
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.custom-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.custom-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.slide-menu {
  background: center / cover no-repeat
    url("/assets/images/curly_hair_girl-1.webp");
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 100px;

  .small-banner {
    background-color: black;
    color: white;
    height: 24px;
    border-radius: 3px;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
  }
  h2 {
    font-size: 4.2rem;
    font-weight: 400;
  }
  a {
    color: black;
    position: relative;
  }
}
.top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: white;
  border-bottom: 1px solid #ebebeb;

  > div {
    overflow: hidden;
  }
  .grow {
    transition: all 0.45s linear;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  .tw-1-coloumn {
    background: center / cover no-repeat
      url(/assets/images/banner-shirt2-768x976.jpg.webp);
  }
  .tw-2-coloumn {
    background: center / cover no-repeat
      url(/assets/images/banner-shirt1-768x976.jpg.webp);
  }
  & > div {
    background-color: #c7ab62;
    height: 450px;
    width: 350px;
    margin: 15px;
  }
  h3 {
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
  }
  a {
    margin-top: 1.4rem;
    color: #282828;
    background-color: white;
    padding: 0.75rem 1.75rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.82;
    }
  }
}
.third-section,
.bottom-wrapper {
  background-color: white;
  padding: 0 10px;
  line-height: 1.7;
  h2 {
    color: #282828;
    font-weight: 400;
    line-height: 1.2;
    font-size: 2rem;
  }
  p {
    color: #686868;
  }
}
.third-section {
  .ts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: auto;

    .products {
      margin: 20px 7.5px;

      .products-inner-animation {
        &:hover {
          transition: transform 0.65s,
            opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transform: none;
          opacity: 1;
          will-change: opacity, transform;
          animation: none;

          figure {
            transform: translateY(-5px);
            transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          img:first-child {
            transform: scale(1.05, 1.05);
            backface-visibility: hidden;
            transform-origin: center center;
            transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          .product-thumbnail-hover {
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
        }
        figure {
          margin: auto;
          width: 160px;

          a {
            position: relative;
            display: block;
            overflow: hidden;

            .product-thumbnail-hover {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }

            &:hover img:last-child {
              opacity: 1;
            }
            img {
              width: 100%;
              aspect-ratio: auto 450 / 450;
              backface-visibility: hidden;
              transform-origin: center center;
              transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transform: scale(1.05, 1.05);
            }
            .action-wrapper {
              position: absolute;
              top: 5%;
              right: 5%;
            }
          }
        }
      }
      .product-title {
        h3 {
          margin-bottom: 0;
        }
        a {
          color: #282828;
        }
        span {
          color: #777777;
        }
      }
    }
  }
}
.fourth-section {
  background-color: #f1e8df;
  padding: 60px 30px;
  color: #282828;
  position: relative;
  .testimonial-wrapper {
    display: none;
    flex-direction: column;
    h2 {
      font-size: 2rem;
      font-weight: 400;
      order: 1;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      font-weight: 400;
      order: 3;
    }
    .testimonial-img {
      width: 140px;
      height: 140px;
      overflow: hidden;
      border-radius: 50%;
      margin: 20px auto;
      order: 2;
    }
    .img-1 {
      background-image: url("/assets/images/woman-abstract-b1-150x150.jpg.webp");
    }
    .img-2 {
      background-image: url("/assets/images/men-shirt-a1-150x150.jpg.webp");
    }
    .testimonial-author {
      order: 4;
      p {
        font-size: 1rem;
        margin: 5px;
        font-weight: 600;
      }
      span {
        color: #686868;
      }
    }
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px 17px;
    color: #686868;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
    }
  }
  .next {
    right: 16px;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #b9a16b;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

.bottom-wrapper {
  padding: 60px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  .bw-title {
    margin: auto;
  }

  img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 1400px;
  }
  a {
    color: black;
    position: relative;
  }
}
