@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .bw-title {
    width: 75%;
  }
  .ts-wrapper figure {
    width: 260px !important;
  }
  .fs-wrapper figure {
    width: 240px !important;
  }
}

@media (min-width: 992px) {
  .d-md-block {
    display: block;
  }
  .bw-title {
    width: 75%;
  }
  .header-top-bar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    background-color: transparent;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .main-nav .left-menu-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .left-menu-section a {
    color: black;
  }
  .main-nav .left-menu-section .hamburger {
    display: none;
  }
  .main-nav .header-rigth-section {
    padding-right: 40px;
  }
  .fourth-section .slideshow-container {
    width: 800px;
    margin: auto;
    position: relative;
  }
  .fourth-section .slideshow-container .testimonial-wrapper {
    max-width: 600px;
    margin: auto;
  }
  .fourth-section .slideshow-container .testimonial-wrapper p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .fourth-section .slideshow-container .testimonial-wrapper .testimonial-img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .ts-wrapper figure {
    width: 310px !important;
  }
  .fs-wrapper figure {
    width: 285px !important;
  }
}

@media (min-width: 1200px) {
  .bw-title {
    width: 50%;
  }
  .ts-wrapper figure {
    width: 350px !important;
  }
  .fs-wrapper figure {
    width: 355px !important;
  }
}

@media (min-width: 1400px) {
  .ts-wrapper figure {
    width: 400px !important;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sticky + main {
  padding-top: 60px;
}

body {
  background-color: white;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.ta-center {
  text-align: center;
}

.toUpper {
  text-transform: uppercase;
}

.header-top-bar {
  display: none;
  background-color: black;
}

.header-top-bar a {
  color: #eeeeee;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header-top-bar a:hover {
  opacity: 0.8;
}

.offcanvas {
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
  opacity: 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.offcanvas .close-nav {
  font-size: 2rem;
  padding: 15px 0 0 15px;
  color: #444444;
}

.offcanvas .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.offcanvas .nav-menu .search-field {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
}

.offcanvas .nav-menu .search-field input {
  border: none;
  color: #282828;
  border-bottom: 2px solid #282828;
  width: 100%;
  font-size: 1rem;
  margin: auto;
  padding: 0 0 10px 10px;
  outline: none;
}

.offcanvas .nav-menu .nav-item {
  padding: 20px 0;
}

.offcanvas .nav-menu .nav-item a {
  color: #282828;
}

.offcanvas .nav-menu .nav-item i {
  font-size: 1rem;
}

.offcanvas .nav-menu .login,
.offcanvas .nav-menu .language {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  font-size: 1rem;
  padding: 20px 0;
}

.offcanvas .nav-menu .cart,
.offcanvas .nav-menu .wishlist {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.offcanvas .nav-menu .social i {
  padding: 20px;
  font-size: 1.3rem;
}

.offcanvas .nav-menu select {
  border: none;
}

.offcanvas.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.offcanvas.show .hamburger {
  display: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.main-nav .hamburger {
  display: block;
}

.main-nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 6px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #444444;
}

.main-nav .header-center-section {
  cursor: pointer;
}

.main-nav .header-center-section img {
  height: 24px;
}

.main-nav .header-rigth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .header-rigth-section a {
  color: black;
  margin: 0 15px;
}

a {
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.custom-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.custom-underline:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.slide-menu {
  background: center/cover no-repeat url("/assets/images/curly_hair_girl-1.webp");
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.slide-menu .small-banner {
  background-color: black;
  color: white;
  height: 24px;
  border-radius: 3px;
  padding: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.slide-menu h2 {
  font-size: 4.2rem;
  font-weight: 400;
}

.slide-menu a {
  color: black;
  position: relative;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}

.top-wrapper > div {
  overflow: hidden;
}

.top-wrapper .grow {
  -webkit-transition: all 0.45s linear;
  transition: all 0.45s linear;
  overflow: hidden;
}

.top-wrapper .grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-wrapper .tw-1-coloumn {
  background: center/cover no-repeat url(/assets/images/banner-shirt2-768x976.jpg.webp);
}

.top-wrapper .tw-2-coloumn {
  background: center/cover no-repeat url(/assets/images/banner-shirt1-768x976.jpg.webp);
}

.top-wrapper > div {
  background-color: #c7ab62;
  height: 450px;
  width: 350px;
  margin: 15px;
}

.top-wrapper h3 {
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
}

.top-wrapper p {
  color: rgba(255, 255, 255, 0.7);
}

.top-wrapper a {
  margin-top: 1.4rem;
  color: #282828;
  background-color: white;
  padding: 0.75rem 1.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-wrapper a:hover {
  opacity: 0.82;
}

.third-section,
.fifth-section,
.bottom-wrapper {
  background-color: white;
  padding: 30px 10px;
  line-height: 1.7;
}

.third-section h2,
.fifth-section h2,
.bottom-wrapper h2 {
  color: #282828;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2rem;
}

.third-section p,
.fifth-section p,
.bottom-wrapper p {
  color: #686868;
}

.third-section .ts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  margin: auto;
}

.third-section .ts-wrapper figure .actions-wrapper {
  position: absolute;
  top: 5%;
  right: 5%;
}

.third-section .ts-wrapper figure .actions-wrapper a {
  color: #777;
  margin: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section .ts-wrapper figure .actions-wrapper a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #282828;
}

.products {
  margin: 20px 7.5px;
}

.products .products-inner-animation .actions-wrapper {
  opacity: 0;
}

.products .products-inner-animation:hover {
  -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.65s;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.65s;
  transition: transform 0.65s, opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.65s, opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.65s;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  will-change: opacity, transform;
  -webkit-animation: none;
          animation: none;
}

.products .products-inner-animation:hover figure {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.products .products-inner-animation:hover figure .actions-wrapper {
  opacity: 1;
}

.products .products-inner-animation:hover img:first-child {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.products .products-inner-animation:hover .product-thumbnail-hover {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.products .products-inner-animation figure {
  margin: auto;
  width: 160px;
}

.products .products-inner-animation figure a {
  position: relative;
  display: block;
  overflow: hidden;
}

.products .products-inner-animation figure a .product-thumbnail-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.products .products-inner-animation figure a:hover img:last-child {
  opacity: 1;
}

.products .products-inner-animation figure a img {
  width: 100%;
  aspect-ratio: auto 450 / 450;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.products .product-title h3 {
  margin-bottom: 0;
}

.products .product-title a {
  color: #282828;
}

.products .product-title span {
  color: #777777;
}

.fourth-section {
  background-color: #f1e8df;
  padding: 60px 30px;
  color: #282828;
  position: relative;
}

.fourth-section .testimonial-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-section .testimonial-wrapper h2 {
  font-size: 2rem;
  font-weight: 400;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fourth-section .testimonial-wrapper p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.fourth-section .testimonial-wrapper .testimonial-img {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.fourth-section .testimonial-wrapper .img-1 {
  background-image: url("/assets/images/woman-abstract-b1-150x150.jpg.webp");
}

.fourth-section .testimonial-wrapper .img-2 {
  background-image: url("/assets/images/men-shirt-a1-150x150.jpg.webp");
}

.fourth-section .testimonial-wrapper .testimonial-author {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.fourth-section .testimonial-wrapper .testimonial-author p {
  font-size: 1rem;
  margin: 5px;
  font-weight: 600;
}

.fourth-section .testimonial-wrapper .testimonial-author span {
  color: #686868;
}

.fourth-section .prev,
.fourth-section .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px 17px;
  color: #686868;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fourth-section .prev:hover,
.fourth-section .next:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.fourth-section .next {
  right: 16px;
}

.fourth-section .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #aaa;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.fourth-section .active,
.fourth-section .dot:hover {
  background-color: #b9a16b;
}

.fourth-section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fifth-section .fs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1480px;
  margin: auto;
}

.fifth-section .fs-wrapper .products-inner-animation {
  width: 100%;
}

.fifth-section .fs-wrapper .products-inner-animation .actions-wrapper {
  bottom: 30px;
  width: 100%;
  height: 54px;
  position: absolute;
}

.fifth-section .fs-wrapper .products-inner-animation .actions-wrapper > div {
  width: 160px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.fifth-section .fs-wrapper .products-inner-animation .actions-wrapper > div .border {
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.fifth-section .fs-wrapper .products-inner-animation .actions-wrapper > div a {
  padding: 13px 20px;
  color: #777;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
}

.fifth-section .fs-wrapper .products-inner-animation .actions-wrapper > div a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #282828;
}

.bottom-wrapper {
  padding: 60px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.bottom-wrapper .bw-title {
  margin: auto;
}

.bottom-wrapper img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  width: 1400px;
}

.bottom-wrapper a {
  color: black;
  position: relative;
}
/*# sourceMappingURL=style.css.map */